/* GOLBAL */
body {
  background-color: #E8E6EA;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* NAVIGATION----------------
---------------- */
.top-nav {
  width: 100%;
  background-color: #BCBDC4;
  overflow: hidden;
}

.top-nav a {
  float: left;
  display: block;
  color: #0B4BAD;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 16px;
}

.top-nav a:not(:first-child) {
  display: none;
}

.top-nav a:hover {
  background-color: #0B4BAD;
  color: #BCBDC4;
}

.top-nav a:active {
  color: #F4F4F8;
}

.top-nav a.icon {
  float: right;
  display: block;
}

.top-nav.responsive {
  position: relative;
}

.top-nav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.top-nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

/* Intro----------------
---------------- */
#home {}

.btn {
  text-decoration: none;
  background: #0B4BAD;
  color: white;
  padding: 10px;
  display: inline-block;
}

.carlosHeadshot {
  width: 80%;
  padding-top: 10px;
}

/* Work----------------
---------------- */
.work {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

/* Education----------------
---------------- */
.education {
  text-align: left;
}

/* Contact Info----------------
---------------- */
.contact-info {
  justify-content: space-between;
}

.email {
  order: 1;
}

.website {
  order: 2;
}

.twitter {
  order: 4;
}

.linkedin {
  order: 3;
}

.facebook {
  order: 5;
}

/* Media queries----------------
---------------- */
@media screen and (min-width: 425px) {
  /* 425px- ____ - portrait styles */

  #home {
    display: none;
  }

  .icon {
    display: none;
  }

  .intro-wrap {
    display: flex;
    flex-direction: row;

  }

  .carlosHeadshot {
    order: 0;
    /* padding-top: 10px; */
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
  }

  #intro {}

  /* @media screen and (min-width: 480px) {
    /* start of medium tablet styles 

  .top-nav {
    display: flex;
    justify-content: space-between;
  } */
}

@media screen and (min-width: 768px) {

  /* start of large tablet styles */



}

@media screen and (min-width: 992px) {
  /* start of desktop screens */

}