body{
  margin: 0;
  background-color: silver;
  display: flex;
}

a {
  color: aliceblue;
}

a:hover {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: red;
  color: white;
  padding: 10px;
  display: inline-block;
}

.carlosHeadshot {
    max-width: 25rem;
    max-height: 25rem;
  }

  .content-wrap {
    display: flex;
    width: 80%;
    
  }
/* HEader and footer styless----------------
---------------- */

